[flake8]
max-line-length = 79
extend-exclude =
    */migrations/,
    venv/,
    env/
ignore =
    # line break before binary operator
    W503,

per-file-ignores =
    # line too long (82 > 79 characters)
    */settings.py:E501
